<div class="col-12 grid">
    <div *ngFor="let v of listaVagas" class="grid col-12 field">
        <div class="col-7 field grid shadow-1 border-round py-3">
            <div class="col-12 field">
                <span>{{v.empresa}}</span>
            </div>
            <div class="col-12 field">
                <h2>{{v.vaga.cargo}}</h2>
            </div>
            <div class="col-12 field grid">
                <div class="col-6 field"><span>{{v.vaga.cidade}}</span></div>
                <div class="col-6 field text-right">{{getSalario(v.vaga)}}</div>

            </div>
        </div>
    </div>
</div>