<p-card styleClass="w-full border-noround opacity-90">
    <div class="formgrid m-0 p-0 grid col-12 text-xl font-bold">
        <div class="col-8 field">
            <span class="">{{empresa.nome}}</span>
        </div>
        <div class="col-4 field grid m-0 p-0 text-center">
            <div class="col-4 field">
                {{empresa.avaliacoes}}
            </div>
            <div class="col-4 field">
                {{empresa.salarios}}
            </div>
            <div class="col-4 field">
                {{empresa.vagas}}
            </div>
        </div>
    </div>
    <div class="formgrid m-0 p-0 grid col-12 text-sm font-light">
        <div class="col-8 field">
            <span class="text-green-500">{{empresa.nota}}★</span>
        </div>
        <div class="col-4 field grid m-0 p-0 text-center">
            <div class="col-4 field">
                <span>Avaliacões</span>
            </div>
            <div class="col-4 field">
                <span>Salários</span>
            </div>
            <div class="col-4 field">
                <span>Vagas</span>
            </div>
        </div>
    </div>
    <div class="formgrid m-0 p-0 grid col-12 mt-3 font-bold">
        <div class="col-6 field">
            <span>Tamanho geral da empresa</span>
        </div>
        <div class="col-6 field">
            <span>Setor</span>
        </div>
    </div>
    <div class="formgrid m-0 p-0 grid col-12 text-sm font-light">
        <div class="col-6 field">
            <span>{{empresa.tamanhoStr}}</span>
        </div>
        <div class="col-6 field">
            <span>{{empresa.setor}}</span>
        </div>
    </div>
</p-card>