<div class="col-12 grid m-0 p-0">
    <div class="col-12 m-0 p-0 justify-content-center text-center">
        <div class="col-12 p-0">
            <p class="text-3xl font-bold pb-3">Cefet Job Insights</p>
            <p class="text-8xl mt-8 p-0 font-light" style="letter-spacing: .5rem;">Simplificando<br> o mercado</p>
        </div>
        <div class="col-12">
            <p-button [rounded]="true" styleClass="surface-900 font-bold py-3 px-4 border-900 mt-7"
                (onClick)="navegate('register')">
                <span style="letter-spacing: .2rem;">CADASTRE-SE</span>
            </p-button>
        </div>
    </div>
</div>