<div class="col-12 grid m-0 p-0">
    <div class="col-12 m-0 p-0 text-center">
        <div class="col-5 p-0">
            <p class="text-7xl mt-8 p-0 font-normal" style="letter-spacing: .3rem;">
                Sua marca
                <br>empregadora
                <br>começa aqui
            </p>
            <p class="text-lg py-0 px-8 font-normal">
                Avaliações autênticas, histórias
                <br>ricas e insights poderosos,
                <br>disponíveis apenas no Cefet JobInsights,
                <br>ajudam a atrair os melhores
                <br>talentos.
            </p>
        </div>
        <div class="col-5">
            <p-button [rounded]="true" styleClass="surface-900 font-bold py-3 px-4 border-900 mt-4"
                (onClick)="telaRegistro()">
                <span style="letter-spacing: .2rem;">CADASTRE-SE</span>
            </p-button>
        </div>
    </div>
</div>