<div class="col-12 grid m-0 p-0 justify-content-center">
    <div class="col-11 field grid mt-5">
        <h3>{{empresa.nome}}</h3>
    </div>
    <div class="col-11 m-0 p-0 grid">
        <div *ngFor="let item of itens" class="col-1 field grid text-center mr-3 border-round">
            <div class="col-12 field shadow-1 cursor-pointer surface-card hover:surface-hover py-3 px-3 border-round"
                (click)="navegate(item.routerLink)">
                <span class="">{{item.label}}</span>
            </div>
        </div>
    </div>
    <div class="col-11 m-0 p-0 mt-3">
        <router-outlet></router-outlet>
    </div>
</div>