<div class="col-12 grid h-screen m-0 p-0">
    <div class="col-2 field m-0 p-0">
        <app-menu-empresa></app-menu-empresa>
    </div>
    <div class="col-10 field m-0 p-0">
        <div [formGroup]="form" class="col-1 fixed top-0 right-0 pt-3 pr-0 mr-0 z-5">
            <p-inputSwitch styleClass="p-0 m-0" [pTooltip]="getToolTipText()" formControlName="isBlackTheme"
                (onChange)="changeTheme()"></p-inputSwitch>
        </div>
        <router-outlet></router-outlet>
    </div>

</div>