<div class="col-12 grid">
    <div *ngFor="let avaliacao of avaliacoes" class="grid col-12 field">
        <div class="col-7 field grid shadow-1 border-round py-3">
            <div class="col-12 field">
                <span>Nota: {{avaliacao.nota}}</span>
            </div>
            <div class="col-12 field">
                <h3>{{avaliacao.titulo}}</h3>
            </div>
            <div class="col-12 field">
                <span>{{avaliacao.cargo}}</span>
            </div>
            <div class="col-12 field mb-0 pb-0">
                <span style="color: green;">Prós</span>
            </div>
            <div class="col-12 field">
                <span>{{avaliacao.pros}}</span>
            </div>
            <div class="col-12 field mb-0 pb-0">
                <span style="color: red;">Contras</span>
            </div>
            <div class="col-12 field">
                <span>{{avaliacao.contras}}</span>
            </div>
        </div>
    </div>
</div>