<div class="w-full grid m-0 p-0 align-items-center h-full mt-3">
    <div class="col-11">
        <p-card class="border-noround opacity-90" header="Avaliaçoes">
            <div class="formgrid grid mt-3 col-12">
                <div class="col-12 field grid">
                    <div *ngFor="let avaliacao of avaliacoes" class="col-6 field">
                        <p-accordion styleClass="w-full">
                            <p-accordionTab [header]="getLabelTitulo(avaliacao)">
                                <div class="formgrid grid col-12 mt-2 mb-0 pb-0 text-green-500">
                                    <div class="col-12 field mb-0 pb-0">
                                        <span>Prós</span>
                                    </div>
                                </div>
                                <div class="formgrid grid col-12 mt-0 pt-0">
                                    <div class="col-12 field mt-0 pt-0">
                                        <p>{{avaliacao.pros}}</p>
                                    </div>
                                </div>
                                <div class="formgrid grid col-12 mt-2 mb-0 pb-0 text-red-500">
                                    <div class="col-12 field mb-0 pb-0">
                                        <span>Contras</span>
                                    </div>
                                </div>
                                <div class="formgrid grid col-12 mt-0 pt-0 mb-0 pb-0">
                                    <div class="col-12 field mt-0 pt-0 mb-0 pb-0">
                                        <p>{{avaliacao.contra}}</p>
                                    </div>
                                </div>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>