<div class="w-full grid justify-content-center align-items-center m-0 p-0 mt-2">
    <form [formGroup]="form" class="col-12 mt-2 flex justify-content-center">
        <div class="field col-10 m-0 p-0">
            <p-card styleClass="w-full border-round-xl opacity-90" header="Cadastro do Aluno">
                <p-fieldset [legend]="'Dados do Aluno'" [toggleable]="true">
                    <div [formGroup]="formNome" class="formgrid grid col-12 mt-2">
                        <div class="col-6 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="nome">
                                <label for="">Nome *</label>
                            </span>
                        </div>
                        <div class="col-6 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="sobrenome">
                                <label for="">Sobrenome *</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid mt-3 grid col-12">
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="email">
                                <label for="">Email *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-inputMask styleClass="w-full p-inputtext-sm" formControlName="telefone"
                                    [mask]="'(99) 9999-9999'">
                                </p-inputMask>
                                <label for="">Telefone</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-inputMask styleClass="w-full p-inputtext-sm" formControlName="celular"
                                    [mask]="'(99) 9 9999-9999'">
                                </p-inputMask>
                                <label for="">Celular</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid  mt-3 grid col-12">
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="login">
                                <label for="">Login *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-password [toggleMask]="true" styleClass="w-full p-inputtext-sm p-input-icon-right"
                                    formControlName="senha" promptLabel="Digite sua senha" weakLabel="Fraca"
                                    mediumLabel="Média" strongLabel="Forte">
                                    <ng-template pTemplate="footer">
                                        <p-divider></p-divider>
                                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                            <li *ngFor="let validador of senhaValidators"
                                                [style]="{'color' : validarSenha(validador)}">
                                                {{validador.label}}
                                            </li>
                                        </ul>
                                    </ng-template>
                                </p-password>
                                <label>Senha *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-password [toggleMask]="true" styleClass="w-full p-inputtext-sm p-input-icon-right"
                                    [feedback]="false" formControlName="confirmarSenha">
                                </p-password>
                                <label>Confirme sua senha *</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid  mt-3 grid col-12">
                        <div class="col-3 field">
                            <p-checkbox label="Trabalha / Estagia?" formControlName="trabalha" [binary]="true">
                            </p-checkbox>
                        </div>
                    </div>
                    <div class="formgrid  mt-3 grid col-12">
                        <div *ngIf="trabalha" class="col-5 field">
                            <span class="p-float-label">
                                <p-dropdown [options]="listaCargos" [placeholder]="'Cargo exercido'"
                                    styleClass="p-inputtext-sm" inputId="dropdown" formControlName="idCargo"
                                    [filter]="true" [showClear]="true" (onChange)="onChangeCargo($event)">
                                </p-dropdown>
                                <label>Cargo</label>
                            </span>
                        </div>
                        <div *ngIf="outroCargo" class="col-5 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="novoCargo">
                                <label for="">Digite o nome do seu cargo *</label>
                            </span>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset styleClass="mt-4" [legend]="'Dados Acadêmicos'" [toggleable]="true">
                    <div class="formgrid mt-3 grid col-12">
                        <div class="col-5 field">
                            <span class="p-float-label">
                                <p-dropdown [options]="listaCursos" [placeholder]="'Graduação'"
                                    styleClass="p-inputtext-sm" inputId="dropdown" formControlName="idCurso"
                                    [filter]="true" [showClear]="true" (onChange)="onChangeCurso($event)">
                                </p-dropdown>
                                <label>Curso *</label>
                            </span>
                        </div>
                        <div *ngIf="outroCurso" class="col-5 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="novoCurso">
                                <label for="">Digite o nome da sua graduação *</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid mt-3 grid col-12">
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-calendar styleClass="p-inputtext-sm w-full" view="month" dateFormat="mm/yy"
                                    formControlName="anoIngresso">
                                </p-calendar>
                                <label for="">Data de ingresso</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-calendar styleClass="p-inputtext-sm w-full" view="month" dateFormat="mm/yy"
                                    formControlName="anoFormatura">
                                </p-calendar>
                                <label for="">Data de conclusão</label>
                            </span>
                        </div>
                    </div>
                </p-fieldset>
                <div class="col-12 formgrid grid flex justify-content-center mt-4 mb-0">
                    <div class="col-5 field mb-0">
                        <button pButton class="p-button-raised p-button-success p-button-sm" [style]="{'width':'100%'}"
                            label="Cadastrar" (click)="salvar()">
                        </button>
                    </div>
                    <div class="col-5 field mb-0">
                        <button pButton class="p-button-raised p-button-secondary p-button-sm"
                            [style]="{'width':'100%'}" label="Limpar" (click)="limpar()">
                        </button>
                    </div>
                </div>
            </p-card>
        </div>
    </form>
    <!-- <div class="field col-12 text-center font-light text-6xl">
        <span>Seus colegas estão aqui</span>
    </div>
    <div class="field col-12 text-center font-light text-lg">
        <span>Nossas boas vindas ao Cefet JobInsights</span>
    </div>
    <div class="field col-12 text-center font-light text-lg">
        <span>Crie sua conta usando o seu <br>email institucional</span>
    </div> -->

</div>