<div class="w-full grid justify-content-center align-items-center m-0 p-0 mt-2">
    <form [formGroup]="form" class="col-12 mt-2 flex justify-content-center">
        <div class="field col-10 m-0 p-0">
            <p-card styleClass="w-full border-round-xl opacity-90" header="Cadastro da Empresa">
                <p-fieldset [legend]="'Dados da Empresa'" [toggleable]="true">
                    <div class="formgrid grid col-12 mt-2">
                        <div class="col-8 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="nome">
                                <label for="">Nome da empresa *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-dropdown [options]="listaTamanhos" [placeholder]="'Tamanho da empresa'"
                                    styleClass="p-inputtext-sm" inputId="dropdown-tam" formControlName="tamanho"
                                    [showClear]="true">
                                </p-dropdown>
                                <label>Tamanho da empresa *</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid mt-3 grid col-12">
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="email">
                                <label for="">Email *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-inputMask styleClass="w-full p-inputtext-sm" formControlName="telefone"
                                    [mask]="'(99) 9999-9999'">
                                </p-inputMask>
                                <label for="">Telefone para contato</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid  mt-3 grid col-12">
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="login">
                                <label for="">Login *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-password [toggleMask]="true" styleClass="w-full p-inputtext-sm p-input-icon-right"
                                    formControlName="senha" promptLabel="Digite sua senha" weakLabel="Fraca"
                                    mediumLabel="Média" strongLabel="Forte">
                                    <ng-template pTemplate="footer">
                                        <p-divider></p-divider>
                                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                            <li *ngFor="let validador of senhaValidators"
                                                [style]="{'color' : validarSenha(validador)}">
                                                {{validador.label}}
                                            </li>
                                        </ul>
                                    </ng-template>
                                </p-password>
                                <label>Senha *</label>
                            </span>
                        </div>
                        <div class="col-4 field">
                            <span class="p-float-label">
                                <p-password [toggleMask]="true" styleClass="w-full p-inputtext-sm p-input-icon-right"
                                    [feedback]="false" formControlName="confirmarSenha">
                                </p-password>
                                <label>Confirme sua senha *</label>
                            </span>
                        </div>
                    </div>
                    <div class="formgrid  mt-3 grid col-12">
                        <div class="col-5 field">
                            <span class="p-float-label">
                                <p-dropdown [options]="listaSetores" [placeholder]="'Setor da empresa'"
                                    styleClass="p-inputtext-sm" inputId="dropdown" formControlName="idSetor"
                                    [filter]="true" [showClear]="true" (onChange)="onChangeSetor($event)">
                                </p-dropdown>
                                <label>Setor da empresa *</label>
                            </span>
                        </div>
                        <div *ngIf="outroSetor" class="col-5 field">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="novoSetor">
                                <label for="">Digite o nome do setor da sua empresa *</label>
                            </span>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset styleClass="mt-4" [legend]="'Descrição da Empresa'" [toggleable]="true">
                    <div class="formgrid grid col-12 mt-2">
                        <div class="col-12 field">
                            <p-editor [style]="{ height: '320px' }" formControlName="descricao"></p-editor>
                        </div>
                    </div>
                </p-fieldset>
                <div class="col-12 formgrid grid flex justify-content-center mt-4 mb-0">
                    <div class="col-5 field mb-0">
                        <button pButton class="p-button-raised p-button-success p-button-sm" [style]="{'width':'100%'}"
                            label="Cadastrar" (click)="salvar()">
                        </button>
                    </div>
                    <div class="col-5 field mb-0">
                        <button pButton class="p-button-raised p-button-secondary p-button-sm"
                            [style]="{'width':'100%'}" label="Limpar" (click)="limpar()">
                        </button>
                    </div>
                </div>
            </p-card>
        </div>
    </form>
</div>