@import 'node_modules/primeflex/primeflex.css';


* {
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
}

input:disabled {
    background-color: darkgray !important;
}

input.ng-invalid~label,
textarea.ng-invalid~label,
p-inputMask.ng-invalid~label,
p-password.ng-invalid~label,
p-calendar.ng-invalid~label,
p-inputnumber.ng-invalid~label,
p-dropdown.ng-invalid:not(form)~label {
    color: red !important;

}

p-inputMask.ng-invalid>input,
p-password.ng-invalid>div>input,
p-calendar.ng-invalid>span>input,
p-inputnumber.ng-invalid>span>input,
input.ng-invalid,
textarea.ng-invalid {
    border-color: red !important;
    //background-color: rgba(255, 58, 58, 0.089) !important;
}

div.p-inputgroup {
    input.ng-invalid {
        border-right: none !important;
    }

    input.ng-invalid~span {
        border-color: red !important;
        background-color: rgba(255, 58, 58, 0.089) !important;
        border-left: none;
    }

    input:disabled {
        border-right: none !important;
    }
}

div.p-inputgroup>input {
    border-right: none;
}

p-dropdown.ng-invalid:not(form)>div {
    border-color: red !important;
    color: red;
    // background-color: rgba(255, 58, 58, 0.089);
}

p-dropdown>div {
    width: 100% !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none !important;
    background-color: transparent !important;
}

p-dropdown>div.p-dropdown-open {
    background-color: var(--default-input-background) !important;
    border-color: #BFDBFE !important;
    border-width: 3px;
}

p-dropdown.ng-invalid:not(form)>div.p-dropdown-open {
    border-color: #BFDBFE !important;
    color: red;
}

.invalid {

    .p-editor-content,
    .p-editor-toolbar {
        border-color: red !important;
        color: red;
    }

    .p-inputnumber-input {
        width: 100%;
    }
}

.p-menubar .p-menuitem {
    margin-left: 1% !important;
}

p-menubarsub {
    width: 50%;
    margin-left: 5%;
}

.p-menubar-end {
    width: 25%;
    margin-right: 0;
    padding-right: 0;
}

.p-menubar-start {
    margin-left: 3%;
}

.p-menubar.non-background {
    background: none !important;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none !important;
    background-color: transparent;
}

input:focus,
p-inputMask>input:focus,
p-password>div>input:focus,
p-calendar>span>input:focus {
    border-color: #BFDBFE !important;
    border-width: 3px;
    background-color: var(--default-input-background);
}

button:disabled {
    cursor: not-allowed !important;
}

p-table>div.p-datatable.p-datatable-scrollable>div.p-datatable-wrapper {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}